.container1 {
    .smallblock {
        color: $primary-color3;
        opacity: 0;
        h1 {
            font-family: $font-stack5;
            font-size: 4em;
            text-align: center;
        }

        p {
            font-size: 0.906em;
            font-family: $font-stack3;
            text-align: center;
        }
    }
}

.bigbuttons {
    color: $primary-color3;
}

// container 2 (Who we are)
.container2 {
    .whoweare {
        h2 {
            font-family: $font-stack2;
            color: $primary-color5;
        }

        h4 {
            font-family: $font-stack2;
            color: $primary-color5;
            font-size: 1em;
            margin-right: 10px;
        }

        p {
            font-family: $font-stack4;
            color: $primary-color1;
            margin-top: 40px;
            margin-right: 15px;
        }
    }

    .who_we_are_img {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        width: min-content;
        grid-gap: 10px;
        margin-left: 0;
    }
    
    .who_we_are_img img {
        width: 300px;
        height: 200px;
    }
}

// container 3
.container3 {
    .ccpc {
        h3 {
            font-family: $font-stack5;
            color: $primary-color5;
            font-size:1.250em;
        }

        p {
            color: $primary-color5;
            // width: 100px;
            font-size: 0.875em;
        }
    }
}

//container 4
.container4 {
    .describe_course {
        p {
            font-family: $font-stack4;
            font-size: 0.875em;
            color: $primary-color1;
        }
    }
}

// container 5 
.container5 {
    .header4 {
        h2 {
            font-family: $font-stack5;
            color: $primary-color5;
        }
    }
    .meet_our_team_des {
        p {
            margin-top: 20px;
            font-family: $font-stack4;
            color: $primary-color1;
        }
    }

    .memberDescription {
        width: 203px;
    }
}