body {
    background-color: $background-color2;
    margin: 0 10px;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

// Styling Nav bar
nav {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 100px;
    background-color: $background-color2;
}

nav ul {
    list-style: none;
    padding: 2px 455px;
    margin-top: -70px;
    font-size: 0.750em;
    font-family: $font-stack3;
}

nav li {
    float: left;
}

nav a {
    text-decoration: none;
    color: $primary-color1;
    display: block;
    text-align: center;
    padding: 15px;
    letter-spacing: 2px;
}

nav a:hover {
    color: $hover-color;
}

// styling index header content
.container1 {
    background-image: url("/img/homepage.jpg");
    height: 900px;

    .smallblock {
        background-color: $black;
        opacity: 0.8;
        height: 400px;
        margin-left: 150px;
        margin-right: 150px;

        a {
            text-decoration: none;
            color: $primary-color3;
        }
    }
}

// styling of who we are 
.container2 {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .who_we_are_img {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        width: min-content;
    }
}

// styling of lines
.line-border {
    border-bottom:3px solid #ee534f;
    height: 2.5px;
    width: 40px;
}

.line-border2 {
    border-top: 3.5px solid $primary-color4;
    margin-top: -3px;
    width: 290px;
    margin-left: 40px;
}

// career problem solving 
.container3 {
    background-color: $hover-color;
    margin-top: 100px;
    height: 250px;

    #ccpc {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-left: 150px;
        margin-right: 150px;
        height: 200px;
        text-align: center;
        margin-top: 30px;
        // width: min-content;
    }
    
}

//our exciting courses
.container4 {
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;

    .coursesImgs {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: min-content;
        grid-gap: 15px;

        .imgs {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            width: min-content;
            grid-gap: 10px;
            
            img {
                width: 300px;
                height: 200px;
            }
        }

        .bigimg {
            img {
                width: 575px;
                height: 410px;
            }
        }
    }
}

//meet our team 
.container5 {
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;

    .members {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 10px;
        margin-top: 50px;
        .member {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            width: min-content;

            .memberImg {
                img {
                    width: 270px;
                    height: 250px;
                }
            }

            .memberDescription {
                .line-border3 {
                    width: 249px;
                    border-top: 1px solid $primary-color1;
                }

                .memberIcons {
                    display: grid;
                    grid-template-columns: repeat(6,1fr);
                    column-gap: 10px;
                    i {
                        color: $primary-color1;
                    }

                    i:hover {
                        color: $hover-color;
                    }
                    
                }
            }
        }
    }

}
   
// project status
.container6 {
    background-color: $hover-color;
    margin-top: 100px;
    height: 200px;
    .project_status {
        margin-left: 150px;
        margin-right: 150px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-top: 50px;

        .line-border4 {
            border-top: 4px solid $primary-color6;
            width: 30px;
        }
    }
}

// subscribe to us 
.container7 {
    margin-top: 100px ;
    text-align: center;
    .heading {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: min-content;
        

        i {
            color: $hover-color;
        }
    }
    
    input {
        width: 370px;
        height: 40px;
    }
}

//carousel 
.container8 {
    margin-top: 100px;
    background-color: $hover-color;
    height: 300px;

    .carousel {
        margin-left: 150px;
        margin-right: 150px;
        display: grid;
        grid-template-columns: repeat(16,1fr);
        animation-name: carousel;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: relative; left: 100%;

    }

    @keyframes carousel {
        100% {
            position: relative; left: -5000px;
        }
    }
}
// courses page



//about page
.container10 {
    background-color: $grey-background;
    height: 320px;
    text-align: center;
}

// container 11 
.container11 {
    margin-top: 100px;

    .welcometocode4ct {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 150px;
        margin-right: 150px;

        .welcomeimgs {
            img {
                width: 570px;
                height: 380px;
            }
        }
    }
}

// container 12 
.container12 {
    article {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;

        img {
            height: 550px;
            width: 800px;
        }
    }
}
//footer 
footer {
    .footer-col {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-left: 150px;
        margin-right: 150px;
    }

    section {
        background-color: $hover-color;
    }
}