// background colors
$black: #222222;
$background-color2: white;
$grey-background: #cfcdcd;

// font-colors
$primary-color1: #666666;
$primary-color2:#f9f9f9;
$primary-color3: #e8e8e8;
$primary-color4: #e7e7e7;
$primary-color5: #333333;
$primary-color6: #555555;

// hover color
$hover-color: #ee534f;

// font-family's
$font-stack: 'Poppins', sans-serif;
$font-stack2:'Poppins', sans-medium;
$font-stack3:'Poppins', sans-regular;
$font-stack4:'Poppins', sans-light;
$font-stack5:'Poppins', sans-SemiBold;

// animation speed 
$animation-speed: 40s;